@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-accent: #ea7c69;
  --color-dark: #1f1d2b;
  --color-light-alt: #abbbc2;
  --color-dark-bg: #252836;
  --color-lighter: #e0e6e9;
  --color-gray: #889898;
  --color-dark-alt: #2d303e;
  --color-border: #393c49;
}

:root {
  font-family: 'Barlow', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-dark-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

input,
select {
  outline: none;
}
