@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: #EA7C69;
  --color-dark: #1F1D2B;
  --color-light-alt: #ABBBC2;
  --color-dark-bg: #252836;
  --color-lighter: #E0E6E9;
  --color-gray: #889898;
  --color-dark-alt: #2D303E;
}

:root {
  font-family: 'Barlow', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-dark-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

input, select {
  outline: none;
}